<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <main>
        <%- include("../partials/header") %>
        <div>
            <section>
                <div class="cinta-img-product">
                    <div class="img-product">
                        <img src="<%= imagen %>" alt="producto <%= producto %>">
                    </div>
                </div>
                <article class="detail-product">
                    <h4 id="nombre-product-detail"><%= producto %></h4>
                    <p id="precio-product-detail"><%=precio%></p>
                    <button>AGREGAR AL CARRO</button>
                    <button>COMPRAR</button>
                    <p id="descripcion-product-detail"><%= modelo %></p>
                </article>
            </section>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>