<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title : 'Administrar Productos'}) %>
    <body>
        <div class="Admin-body">
            <%- include('./partials/header') %>
            <main>
                <a href="/product/add"><button>AGREGAR PRODUCTOS</button></a>
                <div class="admin-products">
                    <% products.forEach(product => { %>
                    <div class="product">
                        <h3 class="w-full"><%= product.name %></h3>
                        <p style="width: auto;">$<%= product.price %></p>
                        <div class="buttons">
                            <form action="/product/edit/<%= product.id %>">
                                <button>
                                    <i class="fa-solid fa-pen-to-square w-10"></i>
                                </button>
                            </form>
                            <form
                                action="/product/delete/<%= product.id %>?_method=DELETE"
                                method="POST"
                            >
                                <button>
                                    <i class="fa-solid fa-trash w-10"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </main>
        </div>
    </body>
</html>
