<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="banner">
            <img id="banner-main" src="images/banner_verde.jpg" alt="banner de presentacion">
        </div>
        <h2>Productos destacados</h2>
        <div class="article-section">
            <article>
                <% productos.forEach(function(product) { %>
                <h4 id="nombre-product-detail">Nombre: <%= product.producto %></h4>
                <p id="precio-product-detail">Precio: <%= product.precio %></p>
                <button>AGREGAR AL CARRO</button>
                <button>COMPRAR</button>
                <p id="descripcion-product-detail">Descripcion: <%= product.modelo %></p>
                <% }); %> 
            </article>
            <!-- <section>
                <article>
                    <h3>FERTILIZANTE</h3>
                    <img src="/CTAgrowshop/public/images/fertilizante.jpeg" alt="producto 1">
                    <p>Fertilizante para plantas de interior</p>
                    <button>AGREGAR AL CARRO</button>
                </article>
                <article>
                    <h3>LUCES LED</h3>
                    <img src="images/fertilizante.jpeg" alt="producto 2">
                    <p>Lampara para cultibo con full esperctrum</p>
                    <button>AGREGAR AL CARRO</button>
                </article>
                <article>
                    <h3>FERTILIZANTE</h3>
                    <img src="images/maceta.jpeg" alt="producto 1">
                    <p>Fertilizante para plantas de interior</p>
                    <button>AGREGAR AL CARRO</button>
                </article>
                <article>
                    <h3>LUCES LED</h3>
                    <img src="images/medidorph.jpeg" alt="producto 2">
                    <p>Lampara para cultibo con full esperctrum</p>
                    <button>AGREGAR AL CARRO</button>
                </article> -->
            </section>
        </div>
        
        <section class="info-main">
        <div>
            <i class="fa-solid fa-circle-info"></i>

            <div>
                <p>Asesoramiento via Whatsapp</p>
                <p>Te brindamos la ayuda necesaria para saber que tipo producto se adecua mas a tu situacion.</p>
                <p>De lunes a sabados de 10 a 20hs</p>
            </div>
        </div>
        <div>
                <i class="fa-solid fa-handshake"></i>
                <div>
                    <p>Tranquilidad</p>
                    <p>Tenemos años en la industria ayudando a un sinfin de clientes.</p>
                </div>
        </div>
        <div>
                <i class="fa-solid fa-truck-fast"></i>
                <div>
                    <p>Envios a todo el pais</p>
                    <p>Envio gratis a todo el pais. Con tu compra a partir de $150.000</p>
                </div>
        </div>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>