<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>


    <main>
        <h2>MODIFICAR PRODUCTO</h2>
        <section class="form-login">
            <div class="div-img-product-edit">
                <img class="img-product-edit" src="/images/products/<%= image %>" alt="imagen de <%= image %>">
            </div>

            <div class="form-add-product" style="justify-items: center ;">
                <form style="width: 90%;" action="/product/edit/<%= id %>?_method=PUT" method="POST" enctype="multipart/form-data"
                    >
    
                    <label for="name">Nombre de producto</label>
                    <input type="text" value="<%= name %>" name="name" id="nombre" placeholder="Nombre del producto">
    
                    <label for="brand">Marca del producto</label>
                    <select name="brandId" id="brand">
                        <% brands.forEach(brand => { %>
                         <option value="<%= brand.id %>" <%= brandId == brand.id && 'selected' %>><%= brand.name %></option>
                        <% }) %>
                    </select>
                    <br>
                    <label for="description">Descripcion</label>
                    <input type="text" name="description" id="description" value="<%= description %>">

                    <input type="file" name="image-product" accept=".jpg, .jpeg, .png, .gif"/>    
                    <select name="categorieId" id="categorie">
                        <% categories.forEach(categorie => { %>
                            <option value="<%= categorie.id %>" <%= categorieId == categorie.id && 'selected' %>><%= categorie.name %></option>
                        <% }) %>
                    </select>
                    <br>
    
                    <label for="price">Precio del producto</label>
                    <input type="text" value="<%= price %>" name="price" id="price" placeholder="Precio del producto">
                    
                    <button style="margin: 1rem 0;" id="button-confirm-add">CONFIRMAR CAMBIOS</button>
                </form>
                <% if (locals.errores) { %>
                    <ul class="error-msg">
                        <% errores.errors.forEach(err => { %>
                        <li class="error-li"><%= err.msg %></li>
                        <hr />
                        <% }) %>
                    </ul>
                    <% } %>
            </div>       
        </section>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>