<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',) %>

    <body>
        <%- include('../partials/header') %>
        <main>
            <section class="form-login">
                <h3>Iniciar Sesión</h3>
                <form class="form-login" action="/users/login" method="post">
                    <div class="form-group">
                        <input type="email" class="form-input" name="email"
                        id="email" placeholder="Email" required value="<%=
                        locals.email ? email : ""%>">
                        <div class="error-message" id="emailError">
                            El email debe ser válido
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-input"
                        name="password" id="password" placeholder="Contraseña"
                        required value="<%= locals.password ? password : ""%>">
                        <div class="error-message" id="passwordError">
                            La contraseña debe tener al menos 6 caracteres
                        </div>
                    </div>

                    <p class="error-msg">
                        <%= locals.errors && errors.password.msg %>
                    </p>

                    <button id="button-registro">INICIAR SESIÓN</button>

                    <div class="form-group">
                        <label for="remember">Recordar sesión?</label>
                        <input type="checkbox" name="remember" id="remember" />
                    </div>
                </form>
            </section>
        </main>

        <%- include('../partials/footer') %>
    </body>
    <script src="/javascript/errorsInput"></script>

</html>
