<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Perfil de Usuario</h1>
        <p>Nombre: <%= name %></p>
        <p>apellido: <%= lastName %></p>
        <p>Email: <%= email %></p>
    </div>
    <form action="/users/editprofile/<%= id %>" method="get">
        <button>Actualizar datos</button>
    </form>
    <form action="/users/remove/<%= id %>?_method=DELETE" method="post">
        <button>Eliminar cuenta</button>
    </form>
</body>
</html>