<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <div>
        <h1>Perfil de Usuario</h1>
        <img width=150 src="/images/users/<%= image %>" alt="">
        <p>Nombre: <%= name %></p>
        <p>apellido: <%= lastName %></p>
        <p>Email: <%= email %></p>
    </div>
    <button><a href="/users/editprofile/<%= id %>">Actualizar datos</a></button>

    <form action="/users/remove/<%= id %>?_method=DELETE" method="post">
        <button>Eliminar cuenta</button>
    </form>
</body>
</html>