<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <main>
    <div class="info-profile">
        <h1>Perfil de Usuario</h1>
        <img width=150 src="/images/users/<%= user.image %>" alt="imagen de perfil de usuasrio <%= user.name %>">
        <p>Nombre: <%= user.name %></p>
        <p>Apellido: <%= user.surname %></p>
        <p>Email: <%= user.email %></p>
    </div>
    <div class="buttons-sbmit">
        <div style="width: 90%;">
            <button>
                <a style="color: greenyellow" href="/users/editprofile/<%= user.id %>">Actualizar datos</a>
            </button>
        </div>
        <form action="/users/remove/<%= user.id %>?_method=DELETE" method="post">
            <button style="width: 90%;">
                <a style="color: greenyellow" href="">Eliminar cuenta</a>
            </button>
        </form>
    </div>
    
</body>
</html>
</main>